{{ define "meta" }}
{{- partial "single_meta.html" . -}}
{{- partial "opengraph_meta.html" . -}}
{{ end }}

{{ define "header" }}
{{- partial "single_json_ld.html" . -}}
{{ end }}

{{ define "main" -}}
<div id="articletitle"><h1 class="{{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ $.Title }}</h1></div>

<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<header>

{{ with .Params.subtitle }}
  <h1 class="subtitle">
    &mdash; {{ . | markdownify }}
  </h1>
{{ end }}

<h2>{{ printf "by %s" $.Params.author }}</h2>
<h3 class="articletype">{{ .Params.articletype }}</h3>
{{ with .Params.headerimage }}
  <img width="100%" src={{ printf "/images/headers/%s" . }}>
{{ end }}
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
</header>
<div class="content">
{{ .Content }}

<img class="leaf" src="/images/rootstalk_leaf.svg" />
{{ if ne .Lastmod .Date }}{{ partial "dates.html" . }}{{ end -}}
</div>
<!-- for author bio -->
{{ with .Params.authorbio }}
  <div class="authorbio">
      <div id="biotitle">About the Author</div>
      {{ with $.Page.Params.headshot }}
        <img id="headshot" src="/images/headshots/{{ . }}" />
      {{ end }}

    {{ . | markdownify }}
  </div>

{{ end }}
</article>
</main>
{{ end }}
