{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "meta" }}
{{- partial "section_meta.html" . -}}
{{- partial "single_meta.html" . -}}
{{- partial "opengraph_meta.html" . -}}
{{ end }}

{{ define "header" }}
{{- partial "section_json_ld.html" . -}}
{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}



<script src="https://unpkg.com/lunr/lunr.js"></script>
<!-- Generate a list of posts so we can display them -->
{{ $p := slice }}
{{ range (where .Site.RegularPages "Section" "==" "post") }}
  {{ $post := dict "link" .RelPermalink "title" .Title "content" (substr .Plain 0 200) -}}
  {{ $p = $p | append $post -}}
{{ end }}
<script>
const posts = JSON.parse(
  {{ $p | jsonify }}
);
const query = new URLSearchParams(window.location.search);
const searchString = query.get('q');
document.querySelector('#search').value = searchString;
const $target = document.querySelector('#app');
// Our index uses title as a reference
const postsByTitle = posts.reduce((acc, curr) => {
  acc[curr.title] = curr;
  return acc;
}, {});
fetch('/gen/search-index.json').then(function (res) {
  return res.json();
}).then(function (data) {
  const index = lunr.Index.load(data);
  const matches = index.search(searchString);
  const matchPosts = [];
  matches.forEach((m) => {
    matchPosts.push(postsByTitle[m.ref]);
  });
  if (matchPosts.length > 0) {
    $target.innerHTML = matchPosts.map(p => {
      return `<div>
        <h3><a href="${p.link}">${p.title}</a></h3>
        <p>${p.content}...</p>
      </div>`;
    }).join('');
  } else {
    $target.innerHTML = `<div>No search results found</div>`;
  }
});
</script>


</div>
</article>
</main>

{{ end }}