// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

#current_issue_img::before {
  content: "";
  background-image: url('/images/volume-v-issue-1/VolV_Issue1_cover.jpg');
  filter: blur(5px);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 15em;
    display: block;
}

#current_issue_img {
  overflow: auto;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#current_issue_text {
  width: auto;
  text-align: center;
  font-size: 30px;
  position: absolute;
  text-shadow: 1px 3px 3px black,-1px -1px 4px #21330d;
  color: white;
}

#current_issue_text p.issue {
  @include typeface(body);
  font-weight: bold;
  font-size: 1.5em;
}

#current_issue_text p.season {
  @include typeface(body);
  font-size: 25px;
  font-style: italic;
}

h3.articletype {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .5em;
}


#download_link_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include typeface(headings);
  font-size: 20px;
  padding: .5em .5em .5em .5em;
}

.download_link {
  width: auto;
}

.download_link a {
  font-style: italic;
  color: black;
  text-decoration: none;
}

.download_link a:hover {
  color: gray;
}

#articlegrid_container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;

  .articlegrid_item {
    flex-basis: 30%;
    height: auto;

    h3.articletype {
      font-size: 0.75rem;
      line-height: 50%;
      letter-spacing: .3em;
      margin-top: .5rem;
      margin-bottom: 0.5rem;
    }

    h2.title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .headerimage {
      width: 100%;
      height: 4rem;
      object-fit: cover;
    }

    p.author {
      font-family: $cormorant;
    }
  }
}


h1,
h2,
h3{
  a {
    text-decoration: none;
    // border-bottom: 5px lightgreen;
    box-shadow: inset 0 -.15em 0 rgba(255, 255, 255, 1), inset 0 -.37em 0 #fac157;
  }
}

.content {

  p a {
    box-shadow: inset 0 -.15em 0 white, inset 0 -.37em 0 #fac157;
    text-decoration: none;
  }

}

.authorbio {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1rem;
  font-style: italic;
  color: white;
  width: 75%;
  margin-left: 10%;
  height: auto;
  background-color: #252f00;
  padding: 1rem 1rem 1rem 1rem;

    a {
      color: #fac157;
      text-decoration: none;
    }
    a:hover {
      color: orange;
    }

    #headshot {
      width: 75%;
      object-fit: contain;
      margin-right: 25%;
    }
    #biotitle {
      font-size: 1.4rem;
      font-style: normal;
      width: 100%;
      text-align: right;
      margin-bottom: .75rem;
      font-family: $raleway;
    }
}

h3.returnlink {
    position: sticky;
    top: 5rem;
}

.content .pullquote {
  font-size: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 0;
  line-height: normal;
}

h1.title.withsubtitle {
  margin-bottom: 0;
}

h1.subtitle {
  font-weight: normal;
  color: darkgreen;
  font-size: 1.75rem;
  margin-top: 0;
}

img,svg {
  max-height: 90vh;
}

img.leaf {
  width: 5rem;
  height: 5rem;
}

nav.blockmenu {
  background-color: rgba(17, 82, 17, 0.95);
  position: fixed;
  top: 0;
  left: -96%;
  height: 100%;
  width: 100%;
  padding: 2vw 2vw 2vw 2vw;
  z-index: 10;

  color: white;
  font-family: $raleway;
  text-transform: uppercase;

    .item {
      font-weight: 300;
      font-size: 10vw;
      line-height: 90%;
      margin-bottom: 2vh;
      margin-top: 0px;
        a {
          text-decoration: none;
          color: inherit;
        }
        
        a.active {
            color: rgb(78, 143, 86);
        }

        a:hover {
          font-style: italic;
        }
    }

    #label {
      position: absolute;
      top: 2%;
      left: 96%;
      width: 4%;
      height: 100%;
      font-family: $raleway;
      font-weight: 400;
      // transform-origin: left top;
      // transform: rotate(-90deg);
      // letter-spacing: 0.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: 70%;
      cursor: pointer;
    }
}

.listitem {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;

  .headerimage {
    max-width: 35%;
    flex-basis: 35%;
    height: 8em;
    object-fit: cover;
  }

  .text {
    max-width: 65%;
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    flex-wrap: wrap;

    .title {
      font-family: $raleway;
      border-bottom: 1px solid darkgreen;
      font-size: 2.25em;
      letter-spacing: 0.05em;
      line-height: normal;
      font-weight: bold;
      width: 100%;
      flex-basis: 100%;
      text-align: left;
      padding-bottom: 0.15em;
      margin-bottom: 0.15em;
    }

    .byline {
      font-family: $raleway;
      font-size: 0.75em;
      color: darkgreen;
      flex-basis: 50%;
      text-align: left;
      letter-spacing: 0.2em;
    }

    .articletype {
      font-family: $raleway;
      font-size: 0.7em;
      color: darkgreen;
      flex-basis: 50%;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: 0.3em;
    }

    .description {
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      transition: 0.3s;
    }

    a:hover {
      box-shadow: inset 0 -.15em 0 rgba(255, 255, 255, 1), inset 0 -.37em 0 #fac157;
    }

  }
}