{{ $home := relLangURL "/" }}
{{ $currentSection := .Section }}
{{ $currentID := .File.UniqueID }}

{{ $currentPage := . }}

<nav class="blockmenu">
    <div id="label">
        <svg width="50%" height="50%"
            viewbox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg">
        
            <path d="M 25 25 H 75" stroke="white" stroke-width="7.5" stroke-linecap="round" />
            <path d="M 25 50 H 75" stroke="white" stroke-width="7.5" stroke-linecap="round" />
            <path d="M 25 75 H 75" stroke="white" stroke-width="7.5" stroke-linecap="round" />
        
        </svg>
        Menu
    </div>
    <div class="item"><a href="{{ $home }}"
        {{ if $currentPage.IsHome }}class="active"{{ end }}>Home</a></div>
    {{ range .Site.Menus.main }}
        <div class="item"><a 
            {{ if ($currentPage.IsMenuCurrent "main" .) }}class="active"{{ end }} 
            href="{{ .URL }}">{{ .Name }}</a></div>
    {{ end }}
</nav>