{{ $currentID := .File.UniqueID }}
<aside class="sidebar layout__second-sidebar">

<!-- for author bio -->
{{ with .Params.authorbio }}
  <div class="authorbio">
      <div id="biotitle">About the Author</div>
      {{ with $.Page.Params.headshot }}
        <img id="headshot" src="/images/headshots/{{ . }}" />
      {{ end }}

    {{ . | markdownify }}
  </div>

  <h3 class="returnlink">
    <a href="{{ $.CurrentSection.RelPermalink }}">
      {{ printf "Return to %s index" $.CurrentSection.Title }}
    </a>
  </h3>
{{ end }}


<!-- {{ range $.Site.Home.Sections -}}
<section>
<h4 class="menu"><a class="{{ if eq $currentID .UniqueID }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
<ul class="menu">
{{ range .Pages -}}
<li><a class="{{ if eq $currentID .UniqueID }}active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end -}}
</ul>
</section>
{{ end -}} -->
</aside>
