{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "meta" }}
{{- partial "section_meta.html" . -}}
{{- partial "single_meta.html" . -}}
{{- partial "opengraph_meta.html" . -}}
{{ end }}

{{ define "header" }}
{{- partial "section_json_ld.html" . -}}
{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}

<!-- featured posts -->
<h2>Featured Articles</h2>
<div id="featured_container">

  {{ range .Site.Taxonomies.tags.featured }}
  <div class="featured_article">
    <a href="{{ .Page.Permalink }}"> <img width="100%" height="25%" src="/images/headers/{{ .Page.Params.headerimage }}" /></a>
    <h3 class="articletype" style="font-size: .75em">{{ .Page.Params.articletype }}</h3>
    <h2 class="title"><a href="{{ .Page.Permalink }}"> {{ .Title }} </a></h1>
    <p>by {{ .Params.author }}</p>
  </div>
  {{ end }}

</div>

</div>
</article>
</main>
{{ end }}
