<!-- {/{ $issuename := .Get "issue" }/}
{/{ $issue := .Get "issue" | .Page.GetPage }/} -->

<!-- default .Page.CurrentSection -->

{{ $string := .Get "issue" }}
{{ $issue := .Page.GetPage $string }}

{{ with $issue }}
<a href="{{ .RelPermalink }}">
    <div id="current_issue_img" style="--coverurl: url('{{.RelPermalink}}cover.png') ;">
  
      <div id="current_issue_text">
  
        <p class="issue">{{ .Title }}</p>
        <p class="season">{{ .Params.description | markdownify }}</p>
  
      </div>
  
    </div>
  </a>

  <div id="download_link_container">
    <div class="download_link"><a href="https://rootstalk.grinnell.edu/sites/default/files/2019-02/Volume%20V%2C%20Issue%201%2C%20Fall%202018%2C%20print-friendly_0.pdf">Download print PDF</a></div>
    <div class="download_link"><a href="https://rootstalk.grinnell.edu/sites/default/files/2019-02/Volume%20V%2C%20Issue%201%2C%20Fall%202018%2C%20interactive_0.pdf">Download interactive PDF</a></div>
  </div>

  <hr>

{{ end }}